<h1>Examples</h1>

<h2>Basic usage</h2>

<textarea highlight-js [lang]="'typescript'">
<p ngxHighlightWords [searchWords]="['this', 'highlight']">
  This is some text to highlight.
</p>
</textarea>

Result:<br>
<p ngxHighlightWords [searchWords]="['this', 'highlight']">
  This is some text to highlight.
</p>

And it supports markup, not only plain text!

<textarea highlight-js [lang]="'typescript'">
<p ngxHighlightWords [searchWords]="['this', 'highlight']">
  This <i>is</i> some <strong>text</strong> to highlight.
</p>
</textarea>

Result:<br>
<p ngxHighlightWords [searchWords]="['this', 'highlight']">
  This <i>is</i> some <u>text</u> to <strong>highlight</strong>.
</p>

<hr>

<h2>With regex in `searchWords`</h2>

<textarea highlight-js [lang]="'typescript'">
<p ngxHighlightWords [searchWords]="['^the']" [autoEscape]="false">
  The Federation's gone; the Borg is everywhere!
</p>
</textarea>

Result:<br>
<p ngxHighlightWords [searchWords]="['^the']" [autoEscape]="false">
  The Federation's gone; the Borg is everywhere!
</p>

<hr>

<h2>Case sensitive</h2>

<textarea highlight-js [lang]="'typescript'">
<p ngxHighlightWords [searchWords]="['the']" [caseSensitive]="true">
  The Federation's gone; the Borg is everywhere!
</p>
</textarea>

Result:<br>
<p ngxHighlightWords [searchWords]="['the']" [caseSensitive]="true">
  The Federation's gone; the Borg is everywhere!
</p>

<hr>

<h2>Sanitize</h2>

<textarea highlight-js [lang]="'typescript'">
import { Component } from '@angular/core';
import { clean } from 'diacritic';

@Component({
  selector: 'app-root',
  template: `
  <p ngxHighlightWords [searchWords]="['deja']" [sanitize]="removeDiacritics">
    Déjà vu
  </p>
  `,
})
export class AppComponent {
  removeDiacritics(text: string): string {
    return clean(text);
  }
}
</textarea>

Result:<br>
<p ngxHighlightWords [searchWords]="['deja']" [sanitize]="removeDiacritics">
  Déjà vu
</p>

<hr>

<h2>With custom <code>findChunks</code> function</h2>

In this example <code>ngx-highlight-words</code> matches only at beginning of words (word begins after white space or -).
So, it this example it won't match <code>light</code>.
See <code>findChunksAtBeginningOfWords</code> implementation in <code>app.component.ts</code>.

<textarea highlight-js [lang]="'typescript'">
<p ngxHighlightWords [searchWords]="['this', 'light']" [findChunks]="findChunksAtBeginningOfWords">
  This is some text to highlight.
</p>
</textarea>

Result:<br>
<p ngxHighlightWords [searchWords]="['this', 'light']" [findChunks]="findChunksAtBeginningOfWords">
  This is some text to highlight.
</p>


