<h1>Examples</h1>

<h2>Basic usage</h2>

<textarea highlight-js [lang]="'typescript'">
<ngx-highlight-words
  [textToHighlight]="'This is some text to highlight.'"
  [searchWords]="['this', 'to']">
</ngx-highlight-words>
</textarea>

Result:<br>
<ngx-highlight-words
  [textToHighlight]="'This is some text to highlight.'"
  [searchWords]="['this', 'to']">
</ngx-highlight-words>

<hr>

<h2>With regex in `searchWords`</h2>

<textarea highlight-js [lang]="'typescript'">
<ngx-highlight-words
  [textToHighlight]="'The Federation\'s gone; the Borg is everywhere!'"
  [searchWords]="['^the']"
  [autoEscape]="false">
</ngx-highlight-words>
</textarea>

Result:<br>
<ngx-highlight-words
  [textToHighlight]="'The Federation\'s gone; the Borg is everywhere!'"
  [searchWords]="['^the']"
  [autoEscape]="false">
</ngx-highlight-words>

<hr>

<h2>Case sensitive</h2>

<textarea highlight-js [lang]="'typescript'">
<ngx-highlight-words
  [textToHighlight]="'The Federation\'s gone; the Borg is everywhere!'"
  [searchWords]="['the']"
  [caseSensitive]="true">
</ngx-highlight-words>
</textarea>

Result:<br>
<ngx-highlight-words
  [textToHighlight]="'The Federation\'s gone; the Borg is everywhere!'"
  [searchWords]="['the']"
  [caseSensitive]="true">
</ngx-highlight-words>

<hr>

<h2>Sanitize</h2>

<textarea highlight-js [lang]="'typescript'">
import { Component } from '@angular/core';
import { clean } from 'diacritic';

@Component({
selector: 'app-root',
template: `
<ngx-highlight-words
  [textToHighlight]="'Déjà vu'"
  [searchWords]="['deja']"
  [sanitize]="removeDiacritics">
</ngx-highlight-words>
`,
})
export class AppComponent {
  removeDiacritics(text: string): string {
    return clean(text);
  }
}
</textarea>

Result:<br>
<ngx-highlight-words
  [textToHighlight]="'Déjà vu'"
  [searchWords]="['deja']"
  [sanitize]="removeDiacritics">
</ngx-highlight-words>

<hr>

<h2>With custom <code>findChunks</code></h2>

In this example <code>ngx-highlight-words</code> matches only at beginning of words (word begins after white space or -).
So, it this example it won't match <code>light</code>.
See <code>findChunksAtBeginningOfWords</code> implementation in <code>app.component.ts</code>.

<textarea highlight-js [lang]="'typescript'">
<ngx-highlight-words
  [textToHighlight]="'This is some text to highlight.'"
  [searchWords]="['this', 'light']"
  [findChunks]="findChunksAtBeginningOfWords">
</ngx-highlight-words>

</textarea>

Result:<br>
<ngx-highlight-words
  [textToHighlight]="'This is some text to highlight.'"
  [searchWords]="['this', 'light']"
  [findChunks]="findChunksAtBeginningOfWords">
</ngx-highlight-words>


